[user]
	name = shubbush
	email = shubton@gmail.com
	# These values are set in ~/.gitconfig_local

[include]
	path = ~/.gitconfig_local

[push]
	default = current

[alias]
	graph = log --all --decorate --graph --oneline

[diff]
	tool = vimdiff

[blame]
	date=relative
